{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archive</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archive.id }}</td>
            </tr>
            <tr>
                <th>Titre_livre</th>
                <td>{{ archive.titrelivre }}</td>
            </tr>
            <tr>
                <th>Nom_prenom</th>
                <td>{{ archive.nomprenom }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ archive.datedebut }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ archive.datefin }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archive_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('archive_edit', { 'id': archive.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
