<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-10 col-lg-offset-1">
                <h1>Projet Bibliothéque</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Espace Admin</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        Espace Magasinier
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="{{ path('projet_bibliotheque_magasinier_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-8">
                                        Espace Agent de prêt
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="{{ path('projet_bibliotheque_agent_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-8">
                                        Espace Conservateur
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="{{ path('projet_bibliotheque_conservateur_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Espace Lecteur</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        Voir mes prêts
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-8">
                                        Rechercher un livre
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>