{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rayons</h1>

    <table>
        <thead>
            <tr>
                <th>Désignation</th>
                <th>Thème</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rayon in rayons %}
            <tr>                
                <td>{{ rayon.designation }}</td>
                <td>THEME FK A CHOPER</td>
                <td>
                    <ul>
                        
                        <a href="{{ path('rayon_show', { 'id': rayon.id }) }}">Voir</a>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rayon_new') }}">Créer un nouveau rayon</a>
        </li>
    </ul>

{% endblock %}
